.row {
  box-sizing: border-box;
 width: 80%;
    margin: auto;
}

.column {
  float: left;
  width: 30%;
  padding: 15px;
    border-color: black;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


button {
  background-color: #808080;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

